# Dependencies
node_modules
dist
build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDEs
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Tests
coverage
test
